#navigationbar {
    flex-direction: column;
    height: 165px;
}

.logo img {
    width: 92px;
}

#navspan {
    display: block;
    margin-top: -36px;
}


.navbar a {
    padding: 0.3rem;
    
    font-size: 0.8rem;

}

/* Home section */
.search {
    margin-left: 72px;
}

.search input {

    width: 14.2rem;
    font-size: 0.7rem;


}

.sbtn {
    width: 52px;
    left: -48px;
}


body {
    /* background-color: red; */
}


/* rent section */
.rent {
    margin: 16px;
}

.sellcards {
    flex-wrap: wrap;
    margin: 0px;
}



/* sell section */
.rent .cards, .sell .cards {
    margin: 0px;
    padding: 10px;
    margin-bottom: 15px;

}
.sell{
    margin: 16px;
}

/* agent section */



/* root settings */
h1 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.3rem;

}

h2 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 0.8rem;



}